.search-bar{
    height: 100%; 
}

#searchBtn{
    background-color: #3d6488;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 2px; 
}
.card-body{
    background-color:black;
    color: yellow;
}


#hidDiv {
    display: none;
}