/* BACKGROUND IMGS */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}
.welcomebgImg {
  background-image: url("https://github.com/talysh/explorer/blob/master/assets/images/dubai%20(1).jpg?raw=true");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomebgImgWrap {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10rem 0rem 10rem 0rem;
}

/* HOME BUTTON */

.headerTitleImg {
  transition: all 0.3s ease-in-out 0s;
}
.headerTitleImg:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.8s ease-in-out 0s;
}

/* HEADER NAVBAR */

.headerSection {
  background-color: white !important;
  padding: 0rem 1rem !important;
  border-bottom: 0.1rem solid #6ade8b;
  max-height: max-content !important;
  align-items: normal !important;
  margin-bottom: 0rem !important;
  justify-content: center !important;
  text-align: center;
}

.headerNavContainer {
  width: 100%;
  height: max-content;
  margin-bottom: 0rem;
}

.headerTitle {
  margin-bottom: 0rem !important;
}

.headerLogoContainer {
  width: max-content !important;
  display: inline-flex;
}

.headerLogo {
  width: max-content !important;
}

.headerLogo h1 {
  font-size: 3rem;
  width: max-content;
  margin-right: 0rem !important;
  opacity: 100%;
}

.headerTitle h2 {
  width: max-content;
}

.headerTitle a {
  height: 5rem;
  width: 5rem;
  max-height: 5rem;
  max-width: 5rem;
}

.headerTitleImg {
  height: 5rem;
  width: 5rem;
  max-height: 5rem;
  max-width: 5rem;
}

.headerLinksContainer {
  height: max-content;
  justify-content: flex-end !important;
}

a {
  color: white !important;
}

a:hover {
  color: rgb(63, 61, 61) !important;
  transition: 0.3s;
}

.nav-links {
  padding: 1rem 1rem 1rem 1rem !important;
  margin: auto 1rem;
  height: max-content !important;
  border-bottom: 0.2rem solid;
  background-color: rgb(63, 61, 61);
  color: white;
  border-radius: 0.5rem !important;
}

.nav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.1rem solid #6ade8b;
  border-radius: 0.5rem;
}

/* WELCOME CONTENT AND SEARCHBAR */

.title {
  padding: 0.5rem;
  width: max-content !important;
  text-align: center !important;
  text-decoration: bolder !important;
  font-family: "Times New Roman", Times, serif !important;
  background-color: white !important;
  margin: 0 auto;
  border: 0.1rem solid rgb(63, 61, 61);
}

.globeIcon {
  height: 6rem;
  width: 8rem;
  background-color: transparent !important;
}

.titleborder {
  width: max-content !important;
  background-color: transparent !important;
  border: 0.2rem solid;
  margin: 0 auto;
  z-index: 99;
}

.welcomeContentContainer {
  position: relative;
  z-index: 99;
}

.welcomeMessage {
  color: whitesmoke;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
  top: 5rem;
  padding: 2rem;
  text-align: center;
}

.selectionContainer {
  text-align: center !important;
  padding: 1.5rem;
  margin: 0 auto;
  width: max-content;
  background-color: rgba(63, 61, 61, 0.801) !important;
  color: white !important;
  border-radius: 0.4rem;
}

.searchBar {
  margin-top: 0.5rem;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.4rem;
}

#radius {
  margin: 0 1rem;
  min-height: 2rem;
  border-radius: 0.5rem;
}

.submitBtn {
  height: 2rem;
  background-color: rgb(247, 247, 247);
  border: 0.1 solid rgb(61, 60, 60);

  border-radius: 0.7rem;
}

.submitBtn:hover {
  background-color: seagreen;
  color: white;
  border: 0.1rem solid #6ade8b;
}

/* Weather */

.weatherForecast {
  background-color: white;
  border-top: 0.1rem solid #6ade8b;
  width: 100%;
  padding: 2rem 0 !important;
}

.weatherDisplay {
  padding: 1rem 2rem;
  margin: 0 auto;
  border-top: 0.2rem solid rgb(61, 60, 60);
  border-bottom: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.5rem;
}

.weatherData {
  margin-top: 0.5rem;
}

.weatherData p {
  font-size: 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.welcomeMessagePlaceHolder {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #6ade8b;
  text-decoration: 0.1 underline solid;
  text-align: center;
}
.cityName {
  text-align: center;

  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #6ade8b;
}

/* map section */

.mapSection {
  background-color: whitesmoke !important;
  margin-bottom: 0rem !important;
}

.mapContainer {
  border-top: 0.2rem solid #6ade8b;
  background-color: whitesmoke !important;
  width: 100%;
  border-bottom: 0.1rem solid #6ade8b;
}

/* Styling for the map elements */

#mapCol {
  width: 100%;
}

#map {
  position: relative;
  width: 100% !important;
  height: 30rem !important;
}

/* Business type icon for the main map */
.place-icon {
  display: inline-block;
  width: 1rem;
  margin-left: 0.5rem;
}

/* Pop-up info field on the map */
.info-field {
  max-width: 9rem;
}

.rating {
  color: red;
}

.address {
  font-weight: 500;
}

/* Business type icon for the side list */
.list-place-icon {
  width: 2rem !important;
  border: 0.1rem solid #6ade8b !important;
  border-radius: 0.3rem !important;
  margin-left: 0.5rem;
  padding: 0.2rem;
  float: right;
}

/* Business information list */
#searchListCol {
  max-width: 100%;
}

#search-list {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  border-left: 0.1rem solid #6ade8b;
  border-top: 0.1rem solid #6ade8b;
  border-right: 0.1rem solid #6ade8b;
  scroll-behavior: auto;
  height: 30rem;
  width: 100%;
  display: inline-block;
  overflow-y: auto;
}

/* Business information title styling */

.info {
  font-size: 1.5rem !important;
  color: #4a4a4a;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.4rem solid #4a4a4a;
}

/* Scrolling behavior */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgb(61, 60, 60);
  box-shadow: 0 0 0.1rem lightgrey;
}

.business-type {
  background-color: #6ade8b;
  border: none;
  border-radius: 0.3rem;
}

.business-type:hover {
  cursor: pointer;
}

#hidDiv {
  display: none;
}
/* Individual item inside business search results */

.searchlist-item {
  border-top: 0.2rem solid #4a4a4a;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#search-list a {
  color: #4a4a4a !important;
  text-decoration: none;
}

#search-list a:hover {
  cursor: pointer;
  color: orange;
}

.phone-number {
  color: #6ade8b !important;
  font-size: 0.7rem;
  font-weight: 500;
}

/* map placement marker links */

.mapNavLinks {
  border-top: 0.1rem solid #6ade8b;
}

.mapNav-links {
  margin: 1.5rem 0.5rem;
  background-color: #6ade8b;
  color: white;
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid rgb(61, 60, 60);
  width: max-content;
  text-align: center;
  padding: 0.2rem 0.3rem;
}

.mapNav-links:hover {
  border-bottom: 0.2rem solid #6ade8b;
}
.pictureContainer a:hover {
  transition: all 0.3s ease-in-out 0s;
  text-shadow: 0.1rem 0.1rem 0.1rem #6ade8b;
}

.activityNav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.1rem solid #6ade8b;

  border-radius: 0.5rem;
}

/* reviews section */

.reviewsContainer {
  border-top: 0.1rem solid #6ade8b;
  background-color: white !important;
  width: 100%;
}

.reviewsSection {
  padding: 1rem 0rem 0rem;
  margin-bottom: 0rem !important;
}

.firstReviewCol {
  width: auto;
  padding: 0rem 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.secondReviewCol {
  width: auto;
  padding: 0rem 1rem;
  margin-top: 1rem;
}

.thirdReviewCol {
  width: auto;
  padding: 0rem 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.press {
  padding: 5rem 2rem;
}

.press-logo {
  width: 15% !important;
}

.spacing {
  margin-right: 2rem;
}

.reviewPictureContainer {
  text-align: start;
  border-radius: 0.5rem;
  width: auto;
  margin-top: 1rem;
}

.reviewPic {
  height: 200px;
  width: 200px;
  border: 0.1rem solid rgb(61, 60, 60);
  border-radius: 0.5rem;
  margin: 0 auto;
}

.reviewText1 {
  text-align: center;
  border: 0.1rem 0 solid #6ade8b;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0.5rem;
  width: 17.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);
  font-size: 0.9rem;
}

.reviewText2 {
  text-align: center;
  border: 0.1rem 0 solid #6ade8b;
  margin: 0rem 0rem 0rem 1rem;
  padding: 0.5rem;
  width: 17.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);
  font-size: 0.9rem;
}

/* FOOTER SECTION */

.footerCommitmentSpeechSection {
  border-top: 0.1rem solid #6ade8b;
  background-color: whitesmoke !important;
  width: auto;
  display: flex;
  margin-bottom: 0rem !important;
}

.footerCommitmentSpeechContainer {
  padding: 5rem;
  margin: 0rem auto;
}

.commitmentSpeech {
  margin-top: 0rem;
  margin-left: 0rem !important;
}

.commitmentSpeech h2 {
  color: rgb(61, 60, 60);
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}

.commitmentSpeech p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
}

.footerSocialMediaSection {
  padding: 2rem;
  background-color: #cecece;
  margin-bottom: 0rem !important;
}

#facebook,
#instagram,
#linkedin,
#twitter {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  color: white;
  background-color: rgb(61, 60, 60);
  border: 0.2rem solid rgb(182, 182, 182);
}

#facebook:hover,
#instagram:hover,
#linkedin:hover,
#twitter:hover {
  color: #6ade8b;
  cursor: pointer;
}

/* COPY RIGHT SECTION */

.copyrightContainer {
  background-color: rgb(206, 206, 206);
  padding: 2rem;
  font-size: 0.9rem;
}

.copyrightContainer p {
  font-size: 0.5rem;
  margin-right: 1rem;
}

.copyrightContainer i {
  margin-right: 0.2rem;
}

/* dropdown menu */

.navbar-burger {
  margin: 1rem 1rem 0rem 1rem !important;
  height: max-content !important;
  width: max-content !important;
}

.fa-bars {
  height: 3.5rem;
  width: 3.5rem;
  background-color: transparent;
  color: black;
}

.dropdown-menu {
  position: absolute;
}

.show-hide-menu {
  width: max-content;
}

a.signUp {
  background-color: rgb(63, 61, 61);
  width: 100%;
  height: max-content;
  border: 0.1rem #6ade8b solid;
  text-align: center;
  padding: 1rem !important;
  max-width: 100% !important;
}

a.contactUs {
  background-color: rgb(63, 61, 61);
  width: 100% !important;
  height: max-content;
  border: 0.1rem #6ade8b solid;
  text-align: center;
  padding: 1rem !important;
  max-width: 100% !important;
}
