/* BACKGROUND IMGS */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}
.welcomebgImg {
  background-image: url(/assets/images/dubai.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomebgImgWrap {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10rem 0rem 10rem 0rem;
}

/* HOME BUTTON */

.img1 {
  transition: all 0.3s ease-in-out 0s;
}
.img1:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.8s ease-in-out 0s;
}

.reviewPic {
  height: 200px;
  width: 200px;
  border: 0.1rem solid rgb(61, 60, 60) !important;
  border-radius: 0.3rem !important;
  margin: 0 auto;
  opacity: 1;
}

.reviewPic:hover {
  height: 200px;
  width: 200px;
  border: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.3rem;
  margin: 0 auto;
  opacity: 0.5;
}

.selectionContainer:hover {
  text-align: center !important;
  padding: 1.5rem;
  margin: 0 auto;
  width: max-content;
  background-color: rgba(63, 61, 61, 1) !important;
  color: white !important;
  border-radius: 0.3rem;
}

/* HEADER NAVBAR */

.headSection {
  background-color: white !important;
  padding: 0rem 1rem !important;
  border-bottom: 0.1rem solid #6ade8b;
  max-height: max-content !important;
  align-items: normal !important;
}

.headerContainer {
  display: flex;
  margin: 0 0 0 0 !important;
  width: 100%;
}

.qouteContainer {
  display: flex;
  height: max-content;
  padding: 0%;
}

.qoutePartB {
  font-size: 3rem;
  padding: 10px 0px;
}

.headerImg {
  margin-top: 0.3rem;
  height: 5rem;
  width: 5rem;
}

.navbar-burger {
  height: max-content !important;
  width: max-content !important;
}

.burgerImg {
  height: 3.5rem;
  width: 3.5rem;
}

.nav-links-container {
  display: flex;
  margin-left: 0px;
  margin: 0 0 0 auto;
}

a {
  color: white !important;
}

a:hover {
  color: rgb(63, 61, 61) !important;
  transition: 0.3s;
}

.nav-links {
  padding: 1rem 1rem 1rem 1rem !important;
  margin: auto 1rem;
  height: max-content !important;
  border-bottom: 0.2rem solid;
  background-color: rgb(63, 61, 61);
  color: white;
  border-radius: 0.5rem !important;
}

.likes {
  position: relative;
  visibility: visible;
}

.overlay {
  display: none;
  padding: 1rem 1rem 1rem 1rem !important;
  margin: auto 1rem;
  height: max-content !important;
  border-bottom: 0.2rem solid;
}

.likes:hover a {
  visibility: hidden;
  color: rgb(228, 228, 228) !important;
}

.likes:hover .overlay {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid #6ade8b;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.8rem;
  height: 3.8rem;
  overflow: auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid #6ade8b;
  border-radius: 0.5rem;
}

.contact {
  text-align: end;
}

/* WELCOME CONTENT AND SEARCHBAR */

.title {
  padding: 0.5rem;
  width: max-content !important;
  text-align: center !important;
  text-decoration: bolder !important;
  font-family: "Times New Roman", Times, serif !important;
  background-color: white !important;
  margin: 0 auto;
  border: 0.2rem solid rgb(63, 61, 61);
}

.globeIcon {
  height: 6rem;
  width: 8rem;
  background-color: transparent !important;
}

.titleborder {
  width: max-content !important;
  background-color: transparent !important;
  border: 0.2rem solid;
  margin: 0 auto;
  z-index: 99;
}

.welcomeContentContainer {
  position: relative;
  z-index: 99;
}

.welcomeMessage {
  color: whitesmoke;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
  top: 5rem;
  padding: 2rem;
  text-align: center;
}

.selectionContainer {
  text-align: center !important;
  padding: 1.5rem;
  margin: 0 auto;
  width: max-content;
  background-color: rgba(63, 61, 61, 0.801) !important;
  color: white !important;
  border-radius: 0.4rem;
}

.searchBar {
  margin-right: 1rem;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.4rem;
}

.stateP,
.countryP {
  margin: 0rem 1rem !important;
  padding-bottom: 0.2rem;
}

/* .stateCard,
.countryCard {
  text-align: center;
  margin: 0 auto !important;
  padding: 0.4rem 0rem 0.4rem 0rem;
  width: max-content !important;
   
}

.selectState {
  padding-bottom: 0.2rem;
   
}

.selectCountry {
  padding-bottom: 0.2rem;
   
} */

#radius {
  margin: 0 1rem;
  min-height: 2rem;
  border-radius: 0.5rem;
}

.submitBtn {
  height: 2rem;
  background-color: rgb(247, 247, 247);
  border: 0.1 solid rgb(61, 60, 60);

  border-radius: 0.7rem;
}

.submitBtn:hover {
  background-color: seagreen;
  color: white;
  border: 0.1rem solid #6ade8b;
}

/* Weather */

.weatherForecast {
  background-color: white;
  border-top: 0.1rem solid #6ade8b;
  width: 100%;
  padding: 2rem 0 !important;
}

.weatherDisplay {
  padding: 1rem 2rem;
  margin: 0 auto;
  border-top: 0.2rem solid rgb(61, 60, 60);
  border-bottom: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.5rem;
}

.weatherData {
  margin-top: 0.5rem;
}

.weatherData p {
  font-size: 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.welcomeMessagePlaceHolder {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #6ade8b;
  text-decoration: 0.1 underline solid;
  text-align: center;
}
.cityName {
  text-align: center;

  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #6ade8b;
}

/* map section */

.mapSection {
  background-color: whitesmoke !important;
  border-top: 0.1rem solid #6ade8b;
}

.mapContainer {
  width: 100%;
  height: auto;
}

.mapImg {
  align-items: center !important;
  height: auto;
  width: auto;
  max-height: 100%;
}

.map {
  width: auto;
  height: auto;
  margin: 0rem auto;
}

.mapMessage h1 {
  font-style: italic;

  font-size: 2rem;
  text-shadow: 0.08rem 0.08rem 0.08rem #6ade8b;
  text-decoration: 0.1 underline solid;
  text-align: center;
  margin: 3.4rem auto 2.6rem;
  border-top: 0.1rem solid rgb(61, 60, 60);
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-radius: 0.7rem;
  color: rgb(61, 60, 60);
  width: max-content;
  font-weight: 400 !important;
}

.mapImg img {
  border: 0.2rem solid #6ade8b;
  width: 100%;
  border-radius: 0.5rem;
}

.mapNav-links {
  margin: 3.5rem 1rem;
  background-color: #6ade8b;
  color: white;
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  width: max-content;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.mapNav-links:hover {
  border-bottom: 0.1rem solid #6ade8b;
  border-radius: 0.5rem;
}
.firstGalleryCol {
  padding: 1rem 2rem;
  margin-left: 1rem;
  width: auto;
}

.secondGalleryCol {
  padding: 1rem 2rem;
  margin-right: 1rem;
  width: auto;
}

.travelPictures {
  border: 0.1rem solid #6ade8b !important;
  border-radius: 0.5rem;
}

.travelPreviews {
  background-color: white;
  border-top: 0.1rem solid #6ade8b !important;
  width: 100%;
  padding: 2rem 0 !important;
}

.galleryContainer {
  align-content: center;
  margin-bottom: 0.5rem;
}

.pictureContainerWrap {
  margin: 0 auto;
}
.pictureContainerWrap2 {
  margin: 0;
}

.pictureContainerWrap3 {
  margin: 0 auto;
  width: auto;
  height: auto;
}

.pictureContainerWrap4 {
  margin-right: auto;
  width: auto;
  height: auto;
}

.pictureContainer {
  margin: 1rem auto 0.7rem;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);
}

.pictureContainer a {
  font-style: italic;
  font-weight: 350;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: rgb(61, 60, 60) !important;
}

.pictureContainer a:hover {
  transition: all 0.3s ease-in-out 0s;
  text-shadow: 0.1rem 0.1rem 0.1rem #6ade8b;
}

.activityNav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.1rem solid #6ade8b;
  border-radius: 0.5rem;
}

/* reviews section */

.reviewsContainer {
  border-top: 0.1rem solid #6ade8b;
  background-color: white !important;
  width: 100%;
}

.reviewsSection {
  padding: 1rem 0rem 0rem;
  margin-bottom: 0rem !important;
}

.firstReviewCol {
  width: auto;
  padding: 1rem 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.secondReviewCol {
  width: auto;
  padding: 1rem 1rem;
  margin-top: 1rem;
}

.thirdReviewCol {
  width: auto;
  padding: 1rem 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.press {
  padding: 5rem 2rem;
}

.press-logo {
  width: 18% !important;
}

.spacing {
  margin-right: 2rem;
}

.reviewPictureContainer {
  margin: 0rem 0rem 2rem;
  text-align: start;
  border-radius: 0.5rem;
  width: auto;
}

.reviewPic {
  height: 200px;
  width: 200px;
  border: 0.1rem solid rgb(61, 60, 60);
  border-radius: 0.5rem;
  margin: 0 auto;
}

.reviewText1,
.reviewText2 {
  text-align: center;
  border: 0.1rem 0 solid #6ade8b;
  margin: 1rem 1rem 0rem;
  padding: 0.5rem;
  width: 17.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);
}

/* FOOTER SECTION */

.footerSection {
  border-top: 0.1rem solid #6ade8b;
  background-color: whitesmoke !important;
  width: auto;
  display: flex;
}

.footerInfoContainer {
}
.footerSignUpContainer {
  margin: 0.5rem;
}

.footerSignUpHeader {
}

.footerSignUpHeader h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: start;
}

.footerSignUpHeader p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-align: start;
}

.footerSignUpForm {
}

.signUpInput {
  padding: 1rem;
  height: 3rem;
  border-radius: 0.2rem;
  margin-right: 0.2rem;
}

.signUpBtn {
  font-size: 0.9rem;
  border-radius: 0.2rem;
  height: 3rem;
  width: 5rem;

  margin: 0 auto 0 0;
  background-color: #00b7ff;
  color: white;
}

.signUpBtn:hover {
  background-color: #008cff;
}

.playBtn {
  margin-left: 0.2rem;
  height: 20%;
  width: 10%;
  color: white;
}

.footerSocialMediaSection {
  padding: 2rem;
  background-color: #cecece;
}

#facebook,
#instagram,
#linkedin,
#twitter {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  color: white;
  background-color: rgb(61, 60, 60);
  border: 0.1rem solid rgb(182, 182, 182);
  cursor: pointer;
}

#facebook:hover,
#instagram:hover,
#linkedin:hover,
#twitter:hover {
  color: #6ade8b;
}
.footerCommitmentSpeechSection {
  padding: 3rem;
  margin: 2rem 1.5rem;
}

.footerCommitmentContainer {
  justify-content: left !important;
  margin: 0.5rem;
}

.commitmentSpeech {
  margin-top: 0rem;
  margin-left: 0rem !important;
}

.commitmentSpeech h2 {
  color: rgb(61, 60, 60);
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}

.commitmentSpeech p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
}

.brandLogo {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.brandLogo p {
  text-align: right;
}

.p2 {
  text-align: center;
  font-size: 0.7rem;

  text-decoration: underline;
}

.footerNavigationSection {
  background-color: #cecece;
  text-align: center;
}

.footerNavigationContainer {
  width: auto;
  margin: 0.5rem;
  font-size: 0.5rem;
}

.footerNavigationContainer h2 {
  margin-top: 2rem;
  font-size: 0.5rem;
  line-height: 0;
  font-weight: bold;
  text-align: center;
}

.footerInfoContainer a {
  font-size: 0.4rem;

  width: auto;
  color: rgb(61, 60, 60) !important;
  margin: 0 auto;
}

.footerInfoContainer a:hover {
  color: #00b7ff !important;
}

/* COPY RIGHT SECTION */

.copyrightSection {
}

.copyrightContainer {
  background-color: rgb(206, 206, 206);
  padding: 2rem;
  font-size: 0.9rem;
}

.copyrightContainer p {
  font-size: 0.5rem;
  margin-right: 1rem;
}

.copyrightContainer i {
  margin-right: 0.2rem;
}

/* From Taleh */
/* ********** */
/* Styling for the map elements */
#map {
  height: 400px;
  width: 80%;
  display: inline-block;
  border-radius: 0.3rem;
}

/* Business type icon for the main map */
.place-icon {
  display: inline-block;
  width: 1rem;
  margin-left: 0.5rem;
}

/* Business type icon for the side list */
.list-place-icon {
  width: 2rem !important;
  border: 0.1rem solid #6ade8b !important;
  border-radius: 0.3rem !important;
  margin-left: 0.5rem;
  padding: 0.2rem;
  float: right;
}

/* Pop-up info field on the map */
.info-field {
  max-width: 9rem;
}

.rating {
  color: red;
}

.address {
  font-weight: 500;
}

/* Business information list */
#search-list {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  border: 0.1rem solid rgb(61, 60, 60);
  border-radius: 0.3rem;
  scroll-behavior: auto;
  height: 400px;
  width: 19%;
  display: inline-block;
  overflow-y: auto;
}

/* Business information title styling */
.info {
  font-size: 1.5rem !important;
  color: #4a4a4a;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.4rem solid #4a4a4a;
}

/* Individual item inside business search results */
.searchlist-item {
  border-top: 0.2rem solid #4a4a4a;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#search-list a {
  color: #4a4a4a !important;
  text-decoration: none;
}

#search-list a:hover {
  cursor: pointer;
  color: orange;
}

.phone-number {
  color: #6ade8b !important;
  font-size: 0.7rem;
  font-weight: 500;
}

/* Scrolling behavior */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgb(61, 60, 60);
  box-shadow: 0 0 0.1rem lightgrey;
}

.business-type {
  background-color: #6ade8b;
  border: none;
  border-radius: 0.3rem;
}

.business-type:hover {
  cursor: pointer;
}

#hidDiv {
  display: none;
}
