/* Styling for the map elements */
#map {
  height: 400px;
  width: 80%;
  display: inline-block;
}

/* Business type icon for the main map */
.place-icon {
  display: inline-block;
  width: 1rem;
  margin-left: 0.5rem;
}

/* Business type icon for the side list */
.list-place-icon {
  width: 2rem !important;
  margin-left: 0.5rem;
  float: right;
}

/* Pop-up info field on the map */
.info-field {
  max-width: 9rem;
}

.rating {
  color: red;
}

.address {
  font-weight: 500;
}

/* Business information list */
#search-list {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  border: 0.1rem solid black;
  scroll-behavior: auto;
  height: 400px;
  width: 19%;
  display: inline-block;
  overflow-y: auto;
}

/* Business information title styling */
.info {
  font-size: 2rem;
  color: #4a4a4a;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  border-bottom: 3px solid #4a4a4a;
}

/* Individual item inside business search results */
.searchlist-item {
  border-top: 2px solid #4a4a4a;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#search-list a {
  color: #4a4a4a !important;
  text-decoration: none;
}

#search-list a:hover {
  cursor: pointer;
  color: orange;
}

.phone-number {
  color: #ff9494;
}

/* Scrolling behavior */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.1rem lightgrey;
}
