/* BACKGROUND IMGS */
.welcomebgImg {
  background-image: url("images/dubai.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomebgImgWrap {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10rem 0rem 10rem 0rem;
}

/* HEADER NAVBAR */

.headSection {
  background-color: white !important;
  padding: 0rem 1rem !important;
  border-bottom: 0.2rem solid palegoldenrod;
  max-height: max-content !important;
}

.headerContainer {
  display: flex;
  margin: 0 0 0 0 !important;
  width: 100%;
}

.qouteContainer {
  display: flex;
  height: max-content;
  padding: 0%;
}

.qoutePartB {
  font-size: 3rem;
  padding: 10px 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.headerImg {
  margin-top: 0.3rem;
  height: 5rem;
  width: 5rem;

}

.fa-bars {
  height: max-content !important;
  width: max-content !important;
}


.navbar-burger {
  height: max-content !important;
  width: max-content !important;
}

/* .burgerImg {
  height: 3.5rem;
  width: 3.5rem;
} */

#dropdown-item {
  color: black;
}

#dropdown-content a
{
  text-decoration:none;
  display:block;  
}

#dropdown-content {
  display: none;
}

#dropdown-content.show
{
  display: block;
  }

.nav-links-container {
  display: flex;
  margin-left: 0px;
  margin: 0 0 0 auto;
}

a {
  color: white !important;
}

a:hover {
  color: rgb(63, 61, 61) !important;
  transition: 0.3s;
}

a.menu{
  background-color:rgb(63, 61, 61);
}


.nav-links {
  padding: 1rem 1rem 1rem 1rem !important;
  margin: auto 1rem;
  height: max-content !important;
  border-bottom: 0.2rem solid;
  background-color: rgb(63, 61, 61);
  color: white;
  border-radius: 0.7rem;
}



.likes {
  position: relative;
  visibility: visible;
}

.overlay {
  display: none;
  padding: 1rem 1rem 1rem 1rem !important;
  margin: auto 1rem;
  height: max-content !important;
  border-bottom: 0.2rem solid;
}

.likes:hover a{
  visibility: hidden;
  color:rgb(228, 228, 228) !important;
}

.likes:hover .overlay{
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid palegoldenrod;
  border-radius: 0.7rem;
  position:absolute;
  top:0;
  left:0;
	width: 3.8rem;
	height: 3.8rem;
	overflow: auto;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid palegoldenrod;
  border-radius: 0.7rem;
}

.contact {
  text-align: end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

/* WELCOME CONTENT AND 2ND NAVBAR */

.title {
  padding: 0.5rem;
  width: max-content !important;
  text-align: center !important;
  text-decoration: bolder !important;
  font-family: "Times New Roman", Times, serif !important;
  background-color: white !important;
  margin: 0 auto;
  border: 0.2rem solid rgb(63, 61, 61);
}

.globeIcon {
  height: 6rem;
  width: 8rem;
  background-color: transparent !important;
}

.titleborder {
  width: max-content !important;
  background-color: transparent !important;
  border: 0.2rem solid;
  margin: 0 auto;
  z-index: 99;
}

.welcomeContentContainer {
  position: relative;
  z-index: 99;
}

.welcomeMessage {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  color: whitesmoke;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px black;
  top: 5rem;
  padding: 2rem;
  text-align: center;
}

.selectionContainer {
  text-align: center !important;
  padding: 1.5rem;
  margin: 0 auto;
  width: max-content;
  background-color: rgba(63, 61, 61, 0.801) !important;
  color: white !important;
  border-radius: 0.7rem;
  
}

.selectionContainer:hover {
  text-align: center !important;
  padding: 1.5rem;
  margin: 0 auto;
  width: max-content;
  background-color: rgba(63, 61, 61, 1) !important;
  color: white !important;
  border-radius: 0.7rem;
  
}

.searchBar {
  margin-right: 1rem;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
}



.stateP,
.countryP {
  margin: 0rem 1rem !important;
  padding-bottom: 0.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.stateCard,
.countryCard {
  text-align: center;
  margin: 0 auto !important;
  padding: 0.4rem 0rem 0.4rem 0rem;
  width: max-content !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.selectState {
  padding-bottom: 0.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.selectCountry {
  padding-bottom: 0.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.submitBtn {
  height: 2rem;
  background-color: rgb(247, 247, 247);
  border: 0.1 solid rgb(61, 60, 60);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  border-radius: 0.7rem;
}

.submitBtn:hover {
  background-color: seagreen;
  color: white;
  border: 0.1rem solid #6ade8b;
}


/* Travel Preview Section */

.travelPreviews {
  background-color: white;
  border-top: 0.2rem solid palegoldenrod;
  width: 100%;
  padding: 2rem 0!important;
}

.pictureContainerWrap {
  margin: 0 auto;
}
.pictureContainerWrap2 {
  margin: 0;
}

.pictureContainerWrap3 {
  margin: 0 auto;
}

.pictureContainerWrap4 {
  margin-right: auto;
}

.pictureContainer {
  margin: 1rem auto 2rem;
  text-align: center;
  border-radius: 0.7rem;
  border-bottom: .1rem  solid  rgb(61, 60, 60);
  border-top: .1rem  solid rgb(61, 60, 60);
}


.pictureContainer a {
  font-style: italic;
  font-weight: 350;
  font-size: 2rem;
  border-radius: 0.7rem;
  color: rgb(61, 60, 60)!important;
}

.pictureContainer a:hover{
  
  text-shadow: 3px 3px 3px palegoldenrod; 
}

.travelPictures {
  height: 270px;
  width: 250px;
  /* border: 0.2rem solid palegoldenrod; */
  border-radius: 0.7rem;
  margin: 0 auto;
}

.travelPictures:hover {
  height: 270px;
  width: 250px;
  border: 0.2rem solid palegoldenrod;
  border-radius: 0.7rem;
  margin: 0 auto;
}



.activityNav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid palegoldenrod;
  border-radius: 0.7rem;
}

/* Carousel and Review Section */

.reviewsNMapContainer {
  border-top: 0.2rem solid palegoldenrod;
  background-color: rgb(247, 247, 247) !important;
  width: 100%;
}

.reviewsNMapSection{
  padding: 2rem 0rem 4rem 0rem;
}

.firstReviewCol{
  width:max-content;
  padding: 2rem 1rem 1rem;
 
}

.secondReviewCol{
  width:max-content;
  padding: 2rem 1rem 1rem ;
  
}

.reviewPictureContainer{
  margin: 0rem 0rem 2rem;
  text-align: start;
  border-radius: 0.7rem;
  width: max-content;
}

.reviewPic {
  height: 200px;
  width: 200px;
  border: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.7rem;
  margin: 0 auto;
  opacity: 1;
}

.reviewPic:hover {
  height: 200px;
  width: 200px;
  border: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.7rem;
  margin: 0 auto;
  opacity: .5;
}

.reviewText1{
  text-align: center;
  border: 0.2rem 0 solid palegoldenrod;
  margin: 1rem 1rem 0rem;
  padding: .5rem;
  width: 17.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);

}

.reviewText2{
  text-align: center;
  border: 0.2rem 0 solid palegoldenrod;
  margin: 1rem 0rem 0rem 1rem;
  padding: .5rem;
  width: 17.5rem;
  border-bottom: 0.1rem solid rgb(61, 60, 60);
  border-top: 0.1rem solid rgb(61, 60, 60);

}

.mapImgContainer{
  padding: 2rem 1rem;
}

.mapImgContainer img{
  border: 0.2rem  solid palegoldenrod;
}


.mapNav-links{
  margin: 0rem 1rem;
  background-color: rgba(63, 61, 61, 0.397);
  color: white;
  border-radius: 0.7rem;
  border-bottom: 0.2rem solid rgb(61, 60, 60);
  width: max-content;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.mapNav-links:hover {
  background-color: rgb(228, 228, 228) !important;
  border-bottom: 0.2rem solid palegoldenrod;
  border-radius: 0.7rem;
}

#hidDiv {
  display: none;
}


/* rotating header image on hover */

.img1 {
    transition: all 0.3s ease-in-out 0s;
  
}
.img1:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.8s ease-in-out 0s;
}



/* Styling for the map elements */
/* #map {
  height: 400px;
  width: 80%;
  display: inline-block;
} */

/* Business type icon for the main map */
.place-icon {
  display: inline-block;
  width: 1rem;
  margin-left: 0.5rem;
}

/* Business type icon for the side list */
.list-place-icon {
  width: 2rem !important;
  margin-left: 0.5rem;
  float: right;
}

/* Pop-up info field on the map */
.info-field {
  max-width: 9rem;
}

.rating {
  color: red;
}

.address {
  font-weight: 500;
}

/* Business information list */
#search-list {
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  border: 0.1rem solid black;
  scroll-behavior: auto;
  height: 400px;
  width: 19%;
  display: inline-block;
  overflow-y: auto;
}

/* Business information title styling */
.info {
  font-size: 2rem;
  color: #4a4a4a;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  border-bottom: 3px solid #4a4a4a;
}

/* Individual item inside business search results */
.searchlist-item {
  border-top: 2px solid #4a4a4a;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#search-list a {
  color: #4a4a4a !important;
  text-decoration: none;
}

#search-list a:hover {
  cursor: pointer;
  color: orange;
}

.phone-number {
  color: #ff9494;
}

/* Scrolling behavior */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.1rem lightgrey;
}


/* Weather */

.weatherForecast {
  background-color: white;
  border-top: 0.2rem solid #6ade8b;
  width: 100%;
  padding: 2rem 0 !important;
}

.weatherDisplay {
  padding: 1rem 2rem;
  margin: 0 auto;
  border-top: 0.2rem solid rgb(61, 60, 60);
  border-bottom: 0.2rem solid rgb(61, 60, 60);
  border-radius: 0.5rem;
}

.weatherData {
  margin-top: 0.5rem;
}

.weatherData p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.welcomeMessagePlaceHolder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 2rem;
  text-shadow: 3px 3px 3px #6ade8b;
  text-decoration: 0.1 underline solid;
  text-align: center;
}
.cityName {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 1.3rem;
  text-shadow: 3px 3px 3px #6ade8b;
}